email-validator>=2.3.0
fastapi>=0.120.0
passlib[bcrypt]>=1.7.4
psycopg2-binary>=2.9.11
pydantic>=2.12.3
python-jose[cryptography]>=3.5.0
python-multipart>=0.0.20
pytz>=2024.1
sqlalchemy>=2.0.44
uvicorn[standard]>=0.38.0
Faker>=18.4.0
Pillow>=10.0.0
